<section class="mb-4">
    <h2 class="text-primary text-center">Ariana Francesca N. Punsalang</h2>
    <p class="text-center">Aspiring web developer seeking an internship position to leverage my skills in HTML, CSS, and JavaScript to create dynamic web applications and contribute to innovative projects.</p>
    <p><strong>Email:</strong> anairadump&#64;gmail.com</p>
    <p><strong>Phone:</strong> 09915676315</p>
    <p><strong>Address:</strong> Phase2-B Block 8 Lot 36 Fiesta Community Manibaug Paralaya Porac Pampanga</p>
</section>
  